{% extends 'base.html' %}

{% block title %}{{ form_title }}{% endblock %}

{% block boby %}
    <div class="container">
        <div class="d-flex align-items-center justify-content-center" style="height: 80vh;">
            <div class="col-sm-8 col-md-7 col-lg-5">
                {% if tips_msg %}
                    <div>
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            {{ tips_msg }}
                        </div>
                    </div>
                {% endif %}
                <div class="card border-info">
                    <div class="card-header bg-info text-center">
                        <span class="card-title h5">{{ form_title }}</span>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{{ action_url }}" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in form %}
                                {% if field.is_hidden %}
                                    {{ field }}
                                {% else %}
                                    {{ field.label_tag }}{{ field }}
                                    <p class="text-danger">{{ field.errors.as_text }}</p>
                                {% endif %}
                            {% endfor %}
                            <p id="tip_text" class="text-danger float-left">{{ form.non_field_errors.as_text }}</p>
                            <div class="clearfix"></div>
                            <button type="submit" class="btn btn-primary float-left">{{ submit_text }}</button>
                        </form>
                        {% block form_extend %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
