{% extends "base.html" %}

{% block title %}
    提示信息
{% endblock %}

{% block boby %}
    <div class="row">
        <div class="card text-center offset-sm-2 col-sm-8">
            <div class="card-body">
                <div class="alert alert-success" role="alert">{{ message }}</div>
                {% for url in urls %}
                    <a class="btn btn-primary" href="{{ url.url }}">{{ url.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
