{% extends "base.html" %}

{% block title %}
    提示信息
{% endblock %}

{% block boby %}
    <div class="row text-center col-xs-offset-2 col-xs-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="alert alert-success" role="alert">{{ message }}</div>
                {% for url in urls %}
                    <a class="btn btn-primary" href="{{ url.url }}">{{ url.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
