[Unit]
Description=EVCloud's web service
After=network.target

[Service]
Type=forking
PIDFile=/home/uwsgi/evcloud/uwsgi-master.pid
ExecStart=/bin/bash /home/uwsgi/evcloud/run_uwsgi.sh
ExecReload=/bin/bash /home/uwsgi/evcloud/reload_uwsgi.sh
ExecStop=/bin/bash /home/uwsgi/evcloud/stop_uwsgi.sh
PrivateTmp=true

[Install]
WantedBy=multi-user.target
