[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.2.18"
mysqlclient = "==2.1.0"
djangorestframework = "==3.13.1"
libvirt-python = "==8.4.0"
websockify = "==0.10.0"
djangorestframework-simplejwt = "==5.2.0"
django-debug-toolbar = "==3.5.0"
uwsgi = "==2.0.20"
drf-yasg = "==1.20.0"
pyjwt = "==2.4.0"

[requires]
python_version = "3.9"
