[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.*"
mysqlclient = "*"
djangorestframework = "==3.10.3"
django-rest-swagger = "==2.2.0"
libvirt-python = "==5.7.0"
websockify = "==0.9.*"
djangorestframework-simplejwt = "==4.3.*"
django-debug-toolbar = "==2.*"
uwsgi = "*"

[requires]
python_version = "3.6"
