-i https://pypi.org/simple/
certifi==2020.12.5
chardet==4.0.0
coreapi==2.3.3
coreschema==0.0.4
django-debug-toolbar==2.2
django==2.2.17
djangorestframework-simplejwt==4.3.0
djangorestframework==3.10.3
drf-yasg==1.17.1
idna==2.10
inflection==0.5.1
itypes==1.2.0
jinja2==2.11.3
libvirt-python==5.7.0
markupsafe==1.1.1
mysqlclient==2.0.3
numpy==1.19.5
packaging==20.9
pyjwt==1.7.1
pyparsing==2.4.7
pytz==2021.1
requests==2.25.1
ruamel.yaml.clib==0.2.2 ; platform_python_implementation == 'CPython' and python_version < '3.10'
ruamel.yaml==0.16.13
six==1.15.0
sqlparse==0.4.1
uritemplate==3.0.1
urllib3==1.26.4
uwsgi==2.0.19.1
websockify==0.9.0
