{% extends 'base.html' %}
{% load static %}
{% load  sizeformat %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'network/vlan_list.css' %}">
{% endblock %}
{% block title %}VLAN信息{% endblock %}

{% block boby %}
    <div class="offset-md-1 col-md-10">
        <div class="card">
            <div class="card-header">
                <span class="card-title"><strong>VLAN信息</strong></span>
            </div>
            <div class="card-body">
                <table class="table table-vm-list" style="word-wrap:break-word;word-break:break-all;">
                    <thead class="thead-light">
                    <tr>
                        <th>名称</th>
                        <th>子网IP</th>
                        <th>子网掩码</th>
                        <th>网关</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>{{ vlan.name }}</th>
                        <th>{{ vlan.subnet_ip }}</th>
                        <th>{{ vlan.net_mask }}</th>
                        <th>{{ vlan.gateway }}</th>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-header">
                <span class="card-title"><strong>生成子网主机IP列表</strong></span>
                <!-- <span><a class="btn btn-xs btn-primary pull-right" href="">
                    <span class="glyphicon glyphicon-plus"></span>全部导入
                </a></span> -->
            </div>
            <div class="card-body" style="">
                <form id="form-add" role="form" class="form-horizontal" method="post" action="{% url 'network:vlan_add' %}">
                    {% csrf_token %}
                    <div class="input-group" style="">
                        <div class="input-group-prepend">
                            <label class="input-group-text">起始IP</label>
                        </div>
                        <input name="start_ip" class="form-control" type="text" value="" placeholder="输入起始IP"/>
                        <div class="input-group-prepend">
                            <label class="input-group-text">结束IP</label>
                        </div>
                        <input name="end_ip" class="form-control" type="text" value="" placeholder="输入结束IP"/>
                        <div class="input-group-append">
                            <button id="generate" type="submit" class="btn btn-primary form-control">生成</button>
                        </div>
                        <button id="import" type="submit" class="btn btn-info"><i class="fa fa-plus"></i>全部导入</button>
                        <input name="vlan_id" hidden value="{{ vlan.id }}"/>
                        <input id="flag" name="write_database" hidden value=""/>
                    </div>
                </form>
                <table id="table-add" class="table table-vm-list" style="word-wrap:break-word;word-break:break-all;">
                    <tr>
                        <th>主机名称</th>
                        <th>IP</th>
                        <th>MAC</th>
                    </tr>
{#                    <!-- {% for macip in macips %}#}
{#                    <tr>#}
{#                        <th>{{ macip. }}</th>#}
{#                        <th>{{ macip. }}</th>#}
{#                        <th>{{ macip. }}</th>#}
{#                    </tr>#}
{#                    {% endfor %} -->#}
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'network/jquery.form.js' %}"></script>
    <script type="text/javascript" src="{% static 'network/vlan_add.js' %}"></script>
{% endblock %}

