{% extends 'base.html' %}
{% load static %}
{% load  sizeformat %}

{% block head %}
{#    <link rel="stylesheet" type="text/css" href="{% static 'vdisk/vdisk.css' %}">#}
    <style>
    .mouse-hover:hover .mouse-hover-show {
        display: inline-block;
    }
    .mouse-hover-show {
        display: none;
    }
    </style>
{% endblock %}
{% block title %}云硬盘列表{% endblock %}

{% block boby %}
    <div class="col-md-offset-1 col-md-10 col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title"><strong>云硬盘列表 ({{ count }})</strong></span>
                <span><a class="btn btn-xs btn-primary pull-right" href="{% url 'vdisk:vdisk-create' %}">
                    创建云硬盘<span class="glyphicon glyphicon-plus"></span>
                </a></span>
            </div>
            <div class="panel-body" style="min-height: 400px;">
                <form role="form" class="form-horizontal" method="get" action="">
                    <div class="input-group" style="">
                        <label class="input-group-addon" for="id-center">分中心</label>
                        <select name="center" class="form-control" id="id-center">
                            <option value="">--</option>
                            {% for c in centers %}
                                <option value="{{ c.id }}" {% if c.id == center_id %}selected{% endif %}>
                                    {{ c.name }}
                                </option>
                            {% endfor %}
                        </select>
                        <label class="input-group-addon" for="id-group">主机组</label>
                        <select name="group" class="form-control" id="id-group">
                            <option value="">--</option>
                            {% for g in groups %}
                                <option value="{{ g.id }}" {% if g.id == group_id|add:0 %}
                                        selected {% endif %}>{{ g.name }}</option>
                            {% endfor %}
                        </select>
                        <label class="input-group-addon" for="id-quota">存储池</label>
                        <select name="quota" class="form-control" id="id-quota">
                            <option value="">--</option>
                            {% for q in quotas %}
                                <option value="{{ q.id }}" {% if q.id == quota_id|add:0 %}
                                        selected {% endif %}>{{ q.name }}</option>
                            {% endfor %}
                        </select>
                        <label class="input-group-addon" for="id-user">创建者</label>
                        <select name="user" class="form-control" id="id-user">
                            <option value="">--</option>
                            {% for u in users %}
                                <option value="{{ u.id }}" {% if u.id == user_id %}selected {% endif %}>{{ u.username }}</option>
                            {% endfor %}
                        </select>
                        <label class="input-group-addon">关键字</label>
                        <input type="text" class="form-control" name="search" value="{{ search }}"
                               placeholder="搜 UUID、IP、备注"/>
                        <span class="input-group-addon"></span>
                        <button type="submit" class="btn btn-primary form-control">筛选</button>
                    </div>
                </form>
                <table class="table table-vm-list" style="word-wrap:break-word;word-break:break-all;">
                    <tr>
                        <th></th>
                        <th width="120px">UUID</th>
                        <th>机组</th>
                        <th>存储池</th>
                        <th>容量</th>
                        <th>用户</th>
                        <th>创建时间</th>
                        <th>挂载云主机</th>
                        <th>挂载时间</th>
                        <th>状态</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                    {% for disk in vdisks %}
                        <tr id="tr_{{ disk.uuid }}">
                            <td><input type="checkbox" class="item-checkbox" value="{{ disk.uuid }}" name="select_vm"></td>
                            <td><b>{{ disk.uuid }}</b></td>
                            <td>{{ disk.quota.group }}</td>
                            <td>{{ disk.quota }}</td>
                            <td>{{ disk.size|sizeformat:'GB' }}</td>
                            <td>{{ disk.user }}</td>
                            <td>{{ disk.create_time|date:'Y-m-d H:i:s' }}</td>
                            {% if disk.vm %}
                                <td>{{ disk.vm.ipv4 }}</td>
                                <td>{{ disk.attach_time|date:'Y-m-d H:i:s' }}</td>
                            {% else %}
                                <td>未挂载</td>
                                <td>无</td>
                            {% endif %}
                            <td>
                                {%if disk.enable%}
                                    <span class="glyphicon glyphicon-ok"></span>
                                {%else%}
                                    <span class="glyphicon glyphicon-ok"></span>
                                {%endif%}
                            </td>
                            <td>
                                <div class="mouse-hover">
                                    <span>{{ disk.remarks|default_if_none:'' }}</span>
                                    <span class="mouse-hover-show edit_disk_remark" data-disk-uuid="{{ disk.uuid }}" title="修改备注">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </span>
                                </div>
                                <div id="remarks_edit" style="display:none">
                                    <textarea id="remarks">{{ disk.remarks|default_if_none:'' }}</textarea>
                                    <span class="save_disk_remark" title="保存备注" data-disk-uuid="{{ disk.uuid }}">
                                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                                    </span>
                                </div>
                            </td>
                            <td>
                                {% if disk.is_mounted %}
                                    <button type="button" class="btn btn-xs btn-warning btn-disk-umount" data-disk-uuid="{{ disk.uuid }}">卸载</button>
                                {% else %}
                                    <a class="btn btn-xs btn-success" href="{% url 'vdisk:vdisk-mount-to-vm' disk_uuid=disk.uuid %}">挂载</a>
                                {% endif %}
                                <button type="button" class="btn btn-xs btn-danger btn-disk-delete" data-disk-uuid="{{ disk.uuid }}">销毁</button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="panel-footer">
                <nav aria-label="Page navigation">
                    <ul class="pagination"  style="margin:0;">
                        {% with page_list=page_nav.page_list previous=page_nav.previous next=page_nav.next %}
                            {% if page_list %}
                                {% if previous %}
                                    <li><a href="?{{ previous }}" aria-label="Previous"><span
                                            aria-hidden="true">&laquo;</span></a></li>
                                {% else %}
                                    <li class="disable"><span aria-hidden="true">&laquo;</span></li>
                                {% endif %}
                            {% endif %}
                            {% for disp, query, active in page_list %}
                                {% if active %}
                                    <li class="active"><a href="?{{ query }}">{{ disp }}</a></li>
                                {% else %}
                                    <li><a href="?{{ query }}">{{ disp }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_list %}
                                {% if next %}
                                    <li><a href="?{{ next }}" aria-label="Next"><span
                                            aria-hidden="true">&raquo;</span></a></li>
                                {% else %}
                                    <li class="disable"><span aria-hidden="true">&raquo;</span></li>
                                {% endif %}
                            {% endif %}
                        {% endwith %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'vms/vms_common.js' %}"></script>
    <script type="text/javascript" src="{% static 'vdisk/vdisk_list.js' %}"></script>
{% endblock %}

