{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock %}
{% block title %}添加镜像{% endblock %}

{% block boby %}
    <div class="container-fluid col-12">
        <div class="card">
            <div class="card-header">
                <span class="card-title"><strong>添加镜像</strong></span>
            </div>
            <div class="card-body align-content-center">
                <form class="form-horizontal" method="post">
                    {% csrf_token %}
                    <div class="d-flex p-2 alert-secondary justify-content-center">
                        <p class="text-center">基础信息</p>
                    </div>
                    <hr>
                    {% for field in form %}
                        {% if field.name not in vm_fields %}
                            <div class="form-group row">
                                {% if field.is_hidden %}
                                    {{ field }}
                                {% elif field.field.widget.input_type == "checkbox" %}
                                    <div class="offset-sm-1 col-sm-2 text-right col-form-label {% if field.field.required %}font-weight-bold{% endif %}">
                                        {{ field }}{{ field.label_tag }}</div>
                                {% else %}
                                    <div class="offset-sm-1 col-sm-2 text-right col-form-label {% if field.field.required %}font-weight-bold{% endif %}">{{ field.label_tag }}</div>
                                    <div class="col-sm-7">{{ field }}</div>
                                    {% if field.errors %}
                                        <p class="text-danger">{{ field.errors.as_text }}</p>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}

                    <div class="d-flex p-2 alert-secondary justify-content-center">
                        <p class="text-center">虚拟机信息</p>
                    </div>
                    <hr>
                    {% for field in form %}
                        {% if field.name in vm_fields %}
                            <div class="form-group row">
                                {% if field.field.widget.input_type == "checkbox" %}
                                    <div class="offset-sm-1 col-sm-2 text-right col-form-label {% if field.field.required %}font-weight-bold{% endif %}">
                                        {{ field }}{{ field.label_tag }}</div>
                                {% else %}
                                    <div class="offset-sm-1 col-sm-2 text-right col-form-label {% if field.field.required %}font-weight-bold{% endif %}">{{ field.label_tag }}</div>
                                    <div class="col-sm-7">{{ field }}</div>
                                    {% if field.errors %}
                                        <p class="text-danger">{{ field.errors.as_text }}</p>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}

                    <p id="tip_text" class="text-danger">{{ form.non_field_errors.as_text }}</p>
                    <div class="form-group row">
                        <div class="offset-sm-1 col-sm-2">
                            <button type="submit" class="btn btn-primary float-right">创建镜像</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
{% endblock %}