{% extends 'base.html' %}
{% load i18n %}

{% block boby %}
    <div class="d-flex justify-content-center align-items-center h-100 bg-light">
        <div class="card border-0 col-md-8 col-lg-6">
            <div class="card-body">
                <div class="p-2">
                    <h5 class="card-title">{% trans '关于EVCloud' %}</h5>
                    <p>{% trans 'EVCloud是一个轻量级云主机管理平台，追求功能实用，运行稳定，维护简单。' %}</p>
                </div>
                <div class="p-2">
                    <h5>{% trans '研发团队' %}</h5>
                    <p>{% trans '中国科学院计算机网络信息中心，科技云部。' %}</p>
                </div>
                <div class="p-2">
                    <h5>{% trans '最新版本' %}   {{ version }}
                        <span><a href="{% url 'docs:docs' %}#/changelog" target="view_window">
                            {% trans '变更日志' %}</a>
                        </span>
                    </h5>

                    {%  if version_git_change_set  %}

                        {% for key, value in version_git_change_set.items %}
                            <p>
                                <span class="p-2 bd-highlight" style="color: #0d6efd">{{ key}} </span>

                                <span class="p-2 bd-highlight">{{ value.0.2 | date:'Y-m-d H:i:s'  }}</span>

                                <span class="p-2 bd-highlight">{{ value.0.0 }}</span>

                                <span class="p-2 bd-highlight">{{ value.0.1 }}</span>
{#                              <span><a href="{% url 'docs:docs' %}#/changelog?id={{ value.0| cut:"." }}" target="view_window">#}
{#                                    {% trans '变更日志' %}</a>#}
{#                              </span>#}
                            </p>
                            <pre style="white-space: pre-wrap;word-wrap: break-word">{% for value_list in  value|slice:"10" %}{{value_list.3}}@{{value_list.0}}<br>{% endfor %}</pre>

                        {% endfor %}

                        {% else %}
                        <p>
                            无法获取版本日志， 详情请查看：
                            <span><a href="{% url 'docs:docs' %}#/changelog" target="view_window">
                                    {% trans '变更日志' %}</a>
                            </span>
                        </p>

                    {%  endif %}

                </div>

            </div>
        </div>
    </div>
{% endblock %}
