{% extends 'base.html' %}
{% load static %}
{% load  sizeformat %}

{% block title %}系统盘扩容{% endblock %}

{% block boby %}
    <div class="container-fluid col-12">
        <div class="card">
            <div class="card-header">
                <span class="card-title"><strong>云主机系统盘扩容</strong></span>
                <div class="float-right">
                    <a class="btn btn-sm btn-success" href="{% url 'vms:vm-create' %}">创建云主机</a>
                    <a class="btn btn-sm btn-info" href="{% url 'vms:vms-list' %}">云主机列表</a>
                </div>
            </div>
            <div class="card-body">
                <div class="">
                    <div class="text-primary h4">云主机信息:</div>
                    <div class="">
                        <dl class="row">
                            <dt class="col-2 text-right">云主机UUID:</dt> <dd class="col-10" id="id-vm-uuid">{{ vm.hex_uuid }}</dd>
                            <dt class="col-2 text-right">云主机IP:</dt> <dd class="col-10">{{ vm.ipv4 }}</dd>
                            <dt class="col-2 text-right">CPU数:</dt> <dd class="col-10">{{ vm.vcpu }}</dd>
                            <dt class="col-2 text-right">内存:</dt> <dd class="col-10">{{ vm.mem }} MB</dd>
                            <dt class="col-2 text-right">镜像:</dt> <dd class="col-10">{{ vm.image_name }}</dd>
                            <dt class="col-2 text-right">系统盘大小:</dt>
                            <dd class="col-10" id="id-vm-sys-disk-size" data-sys-disk-size="{{ vm.get_sys_disk_size }}">{{ vm.get_sys_disk_size }} Gb</dd>
                            <dt class="col-2 text-right">机组:</dt> <dd class="col-10">{{ vm.host.group }}</dd>
                            <dt class="col-2 text-right">宿主机:</dt> <dd class="col-10">{{ vm.host.ipv4 }}</dd>
                            <dt class="col-2 text-right">备注:</dt> <dd class="col-10">{{ vm.remarks }}</dd>
                        </dl>
                        <form id="id-form-vm">
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">扩容大小</span>
                                        </div>
                                        <input name="expand_size" id="id-input-expand-size" type="text" required
                                               class="form-control" aria-label="">
                                        <div class="input-group-append">
                                            <span class="input-group-text">GB</span>
                                        </div>
                                        <div class="input-group-append">
                                            <span class="input-group-text">扩容后大小为<span id="id-expand-after-size" class="text-warning"></span> GB</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="offset-1">
                                <button class="btn btn-primary" id="btn-vm-disk-expand">确定</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'evcloud/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'vms/vms_disk_expand.js' %}"></script>
{% endblock %}