{% extends 'base.html' %}
{% load static %}

{% block title %}修改云主机{% endblock %}

{% block head %}{% endblock %}

{% block boby %}
    <div class="container-fluid offset-md-1 offset-lg-3 col-md-10 col-lg-6">
        <div class="card">
            <div class="card-header">
                <span class="card-title">修改云主机</span>
                <span><a class="btn btn-sm btn-primary float-right" href="{% url 'vms:vms-list' %}">
                    云主机列表
                </a></span>
            </div>
            <div class="card-body">
                <div class="offset-sm-1">
                    <dl class="row">
                        <dt class="col-2 text-right">云主机UUID:</dt> <dd class="col-10" id="id-edit-vm-uuid">{{ vm.hex_uuid }}</dd>
                        <dt class="col-2 text-right">云主机IP:</dt> <dd class="col-10">{{ vm.ipv4 }}</dd>
                        <dt class="col-2 text-right">镜像:</dt> <dd class="col-10">{{ vm.image }}</dd>
                        <dt class="col-2 text-right">分中心:</dt> <dd class="col-10">{{ vm.host.group.center }}</dd>
                        <dt class="col-2 text-right">机组:</dt> <dd class="col-10">{{ vm.host.group }}</dd>
                        <dt class="col-2 text-right">CPU:</dt> <dd class="col-10">{{ vm.vcpu }}</dd>
                        <dt class="col-2 text-right">MEM:</dt> <dd class="col-10">{{ vm.mem }}MB</dd>
                        <dt class="col-2 text-right">备注:</dt> <dd class="col-10">{{ vm.remarks }}</dd>
                    </dl>
                </div>
                <hr style=" height:1px;border:1px;border-top:1px solid #185598;"/>
                <form class="form-horizontal" id="id-form-vm-edit">
                    <div class="form-group row">
                        <label for="id-vcpu" class="offset-sm-1 col-sm-2 col-form-label">新CPU数</label>
                        <div class="col-sm-7 form-inline">
                            {% if user.is_superuser %}
                                <input name="vcpu" type="text" class="form-control" id="id-vcpu" value="{{ vm.vcpu }}" required>
                            {% else %}
                                <select name="vcpu" class="form-control" id="id-vcpu" required>
                                    <option value="">--</option>
                                    <option value="2">2</option>
                                    <option value="4">4</option>
                                    <option value="8">8</option>
                                </select>
                            {% endif %}
                            <span>个</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id-mem" class="offset-sm-1 col-sm-2 col-form-label">新内存大小</label>
                        <div class="col-sm-7 form-inline">
                            {% if user.is_superuser %}
                                <input name="mem" type="text" class="form-control" id="id-mem" value="{{ vm.mem }}">
                            {% else %}
                                <select name="mem" class="form-control" id="id-mem">
                                    <option value="">--</option>
                                    <option value="1024">1024</option>
                                    <option value="2048">2048</option>
                                    <option value="4096">4096</option>
                                    <option value="8192">8192</option>
                                    <option value="16384">16384</option>
                                </select>
                            {% endif %}
                            <span>MB</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">修改</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'evcloud/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'vms/vms_edit.js' %}"></script>
{% endblock %}
