{% extends 'base.html' %}
{% load static %}

{% block title %}创建云主机{% endblock %}

{% block head %}{% endblock %}

{% block boby %}
    <div class="container-fluid col-12">
        <div class="card">
            <div class="card-header">
                <span class="card-title">创建云主机</span>
                <span><a class="btn btn-sm btn-primary float-right" href="{% url 'vms:vms-list' %}">
                    云主机列表
                </a></span>
            </div>
            <div class="card-body align-content-center">
                <form class="form-horizontal" >
                    <div class="form-group row">
                        <label for="id-center" class="offset-sm-1 col-sm-2 text-right col-form-label">分中心</label>
                        <div class="col-sm-7">
                            <select name="center_id" class="form-control" id="id-center">
                                {% for c in centers %}
                                    <option value="{{ c.id }}" {% if c.id == center_id %}selected{% endif %}>{{ c.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </form>
                <form class="form-horizontal" id="id-form-vm-create">
                    <div class="form-group row">
                        <label for="id-group" class="offset-sm-1 col-sm-2 text-right col-form-label">主机组</label>
                        <div class="col-sm-7">
                            <select name="group_id" class="form-control" id="id-group">
                                {% for g in groups %}
                                    <option value="{{ g.id }}" {% if g.id == group_id %}selected{% endif %}>{{ g.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id-vlan" class="offset-sm-1 col-sm-2 text-right col-form-label">网段</label>
                        <div class="col-sm-7">
                            <select name="vlan_id" class="form-control" id="id-vlan">
                                <option value="">自动选择</option>
                                {% for v in vlans %}
                                    <option value="{{ v.id }}" {% if v.id == vlan_id %}selected{% endif %}>{{ v.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id-ipv4" class="offset-sm-1 col-sm-2 text-right col-form-label">IP</label>
                        <div class="col-sm-7">
                            <select name="ipv4" class="form-control" id="id-ipv4">
                                <option value="">自动选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id-host" class="offset-sm-1 col-sm-2 text-right col-form-label">宿主机</label>
                        <div class="col-sm-7">
                            <select name="host_id" class="form-control" id="id-host">
                                <option value="">自动选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id-image" class="offset-sm-1 col-sm-2 text-right col-form-label">系统镜像</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="id-image-tag">
                                {% for id, tag in image_tags %}
                                    <option value="{{ id }}">{{ tag }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <select name="image_id" class="form-control" id="id-image" required>
                                <option value="">--</option>
                                {% for i in images %}
                                    <option value="{{ i.id }}">{{ i.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id-flavor" class="offset-sm-1 col-sm-2 text-right col-form-label">配置式样</label>
                        <div class="col-sm-7 form-inline">
                            <select name="flavor_id" class="form-control" id="id-flavor">
                                {% for f in flavors %}
                                    <option value="{{f.id}}">CPU: {{ f.vcpus }}核 / RAM: {{ f.ram }}MB</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id-remarks" class="offset-sm-1 col-sm-2 text-right col-form-label">备注</label>
                        <div class="col-sm-7">
                            <input name="remarks" type="text" class="form-control" id="id-remarks">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-1 col-sm-2">
                            <button type="submit" class="btn btn-primary float-right">创建</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'evcloud/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'art-template/template-web.js' %}"></script>
    <script type="text/javascript" src="{% static 'vms/vms_create.js' %}"></script>
{% endblock %}




