<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>Log in | Django site admin</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="login">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header" style="background:#222222">
        <div id="branding">
          <h1 id="site-name" style="color:#EEEEEE">
          中科院弈维云
          </h1>
        </div>
    </div>
    <!-- END Header -->

    <!-- Content -->
    <div id="content" class="colM">
        
        
        




<div id="content-main">
<form action="" method="post" id="login-form">
{% csrf_token %}
  <div class="form-row">
    
    <label for="id_username" class="required">用户名:</label> <input id="id_username" maxlength="254" name="username" type="text" />
  </div>
  <div class="form-row">
    
    <label for="id_password" class="required">密码:</label> <input id="id_password" name="password" type="password" autocomplete="off"/>
    <input type="hidden" name="this_is_the_login_form" value="1" />
    <input type="hidden" name="next" value="{{request.GET.next}}" />
  </div>
  
  
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="登录" />
    {% if request.GET.next|slice:":13" == '/interclient/'%}
    <a href="/interclient/register/">注册</a>
    {%endif%}
  </div>
</form>


<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>

        
        <br class="clear" />
    </div>
    <!-- END Content -->
    <div id="footer">
<div align="center">
<script type="text/javascript">document.write(unescape("%3Cspan id='_ideConac' %3E%3C/span%3E%3Cscript src='http://dcs.conac.cn/js/33/000/0000/60451603/CA330000000604516030026.js' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
</div>
</div>
<!-- END Container -->
</body>
</html>
