{%extends 'vmadmin_base.html'%}
{%load  sizeformat%}
{%block base%}
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"><strong>VLAN信息</strong>
    </h2>
  </div>
  <div class="panel-body">
	{%if vlan_info%}
  	<div>
  		<strong>名称:</strong>{{vlan_info.vlan|default_if_none:''}}<br>
  		<strong>IP:</strong>{{vlan_info.subnetip|default_if_none:''}}<br>
  		<strong>掩码:</strong>{{vlan_info.netmask|default_if_none:''}}<br>
  		<strong>网关:</strong>{{vlan_info.gateway|default_if_none:''}}<br>
  	</div>
  	{% else %}
  	<span style="color: red;">无此VLAN信息</span>
 	{%endif%}
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"><strong>生成子网主机IP列表</strong>
    	<button type="button" class="btn btn-xs btn-primary" style="float:right" 
	     onclick="batch_add_macip()">全部导入<img style="margin-top: -3px" alt="True" src="/static/admin/img/tooltag-add.png"></button>
	     <span id="tip_info" style="float:right;display:none;">导入中<img src="/static/images/loading34.gif"></span>
	     <script type="text/javascript">
	     	function batch_add_macip() {
	     		vlan_id = "{{request.GET.vlan|default_if_none:''}}";
	     		if(!!vlan_id)
	     		{
	     			$("#tip_info").show();
	     			$.ajax({
					url: window.location.href,
					type: 'post',
					data: {
						'vlan': vlan_id,
					},
					success:function(data){
						msg = "成功:"+data.success_count + "\n失败:" + data.fail_count				
						alert(msg);
						if(data.success_count>0)
						{window.location.href="../list/?vlan="+vlan_id;}

					}				
				}, 'json');
	     		}

	     	}
	     </script>
    </h2>

  </div>
  <div class="panel-body">
  
     <form role="form"  class="form-horizontal"  method="get" action="" style="padding-bottom:10px">
     	<input type="text" name="vlan" value="{{request.GET.vlan}}" hidden="hidden">
        <div class="input-group" style=""> 
            <span class="input-group-addon">生成方式</span>
            <select name="kind" class="form-control">
                <option value="netmask" {%if  request.GET.kind == 'netmask' or not request.GET.kind %} selected {%endif%}>子网掩码</option>
                <option value="iprange" {%if request.GET.kind == 'iprange' %} selected {%endif%}>IP范围</option>
            </select>
			<script type="text/javascript">
			$('select[name="kind"]').change(function (){
				$('input[name="subnetip"]').val('');
				$('input[name="netmask"]').val('');
				$('input[name="gateway"]').val('');
				$('input[name="startip"]').val('');
				$('input[name="endip"]').val('');
				this.form.submit();
			})
			</script>
			{%if request.GET.kind == 'netmask' or not request.GET.kind %}
            <span class="input-group-addon">子网IP</span>
            <input type="text" class="form-control" name="subnetip" value="{{request.GET.subnetip}}" placeholder="例如：10.0.80.0" />            
            
            <span class="input-group-addon">子网掩码</span>
            <input type="text" class="form-control" name="netmask" value="{{request.GET.netmask}}"  placeholder="例如：255.255.254.0"/>

            <span class="input-group-addon">网关</span>
            <input type="text" class="form-control" name="gateway" value="{{request.GET.gateway}}" placeholder="例如：10.0.81.254"/>

            {% else %}            
            
            <span class="input-group-addon">起始IP</span>
            <input type="text" class="form-control" name="startip" value="{{request.GET.startip}}" placeholder="例如：10.0.80.1"/>            
            			
			<span class="input-group-addon">结束IP</span>
            <input type="text" class="form-control" name="endip" value="{{request.GET.endip}}" placeholder="例如：10.0.80.253"/>            
            
            {% endif %}
			

            <span class="input-group-addon"></span>
            <input style="color: #fff;background-color: #3071a9;border-color: #285e8e;" 
            	type="submit" class="form-control"class="btn btn-primary" value="生成"/>
    
        </div>
     </form>


  {% if err%}
  <span style="color: red;">{{err}}</span>
  {% else%}
	<table class="table" style="word-wrap:break-word;word-break:break-all;">
		<tr>
			<th>主机名称</th>
			<th>IP</th>
			<th>MAC</th>
		</tr>
	{%for macip in p.object_list%}
	<tr>
		<td>{{macip.hostname}}</td>
		<td>{{macip.ipv4}}</td>
		<td>{{macip.mac}}</td>
		
	</tr>
	{%endfor%}

	</table>
  {% endif %}
  </div>
	  {%if p.page_range%}
	  <div class="panel-footer">
	  <div align="right">
		<ul class="pagination" style="margin:0;">
		      {% if p.has_previous %}
		      <li><a href="{{p.link}}{{ p.previous_page_number }}">&laquo;</a></li>
		      {%else%}
		      <li class="disabled"><span>&laquo;</span></li>
		      {% endif %}
		      {% if p.num_cur_page !=  p.start_page%}
		      <li><a href="{{p.link}}{{p.start_page}}">first</a></li>
		      {%else%}
		      <li class="disabled"><span>first</span></li>
		      {%endif%}
		
		      {%for num in p.page_range%}
		       {%if num == p.num_cur_page%}
		      <li class="active"><span>{{num}}</span></li>
		       {%else%}
		      <li><a href="{{p.link}}{{num}}">{{num}}</a></li>
		       {%endif%}
		      {%endfor%}
		
		       {% if p.num_cur_page != p.end_page%}
		      <li><a href="{{p.link}}{{p.end_page}}">last</a></li>
		       {%else%}
		      <li class="disabled"><span>last</span></li>
		      {%endif%}
		      {% if p.has_next %}
		      <li><a href="{{p.link}}{{ p.next_page_number }}">&raquo;</a></li>  
		      {%else%}
		      <li class="disabled"><span>&raquo;</span></li>
		      {% endif %}
		    </ul></div>
	    </div>
	    {%endif%}

	</div>
{%endblock%}
