{%extends 'vmadmin_base.html'%}
{%load  sizeformat%}
{%block base%}
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"><strong>云硬盘列表</strong>
    <button type="button" class="btn btn-xs btn-primary" style="float:right" onclick="window.location.href='../create/'">创建CEPH云硬盘<img style="margin-top: -3px" alt="True" src="/static/admin/img/tooltag-add.png"></button>

    </h2>
  </div>
  <div class="panel-body">
  
    <!--  <form role="form"  class="form-horizontal"  method="get" action="" style="padding-bottom:10px">
        <div class="input-group" style=""> 
            <span class="input-group-addon">分中心</span>
            <select name="center" class="form-control">
                <option value="">--</option>
                {%for c in center_list%}
                <option value="{{c.id}}" {%if c.id == request.GET.center|add:0 %} selected {%endif%}>{{c.name}}</option>
                {%endfor%}
            </select>
			<script type="text/javascript">
			$('select[name="center"]').change(function (){
				$('select[name="group"]').val('');
				$('select[name="host"]').val('');
				this.form.submit();
			})
			</script>

            <span class="input-group-addon">主机组</span>
            <select name="group" class="form-control">
                <option value="">--</option>
                {%for g in group_list%}
                <option value="{{g.id}}" {%if g.id == request.GET.group|add:0 %} selected {%endif%}>{{g.name}}</option>
                {%endfor%}
            </select>
            <script type="text/javascript">
			$('select[name="group"]').change(function (){
				$('select[name="host"]').val('');
				this.form.submit();
			})
			</script>
            
            <span class="input-group-addon">宿主机</span>
            <select name="host" class="form-control">
                <option value="">--</option>
                {%for h in host_list%}
                <option value="{{h.id}}" {%if h.id == request.GET.host|add:0 %} selected {%endif%}>{{h.ipv4}}</option>
                {%endfor%}
            </select>
            <script type="text/javascript">
			$('select[name="host"]').change(function (){
				this.form.submit();
			})
			</script>
			
			<span class="input-group-addon">创建者</span>
            <select name="creator" class="form-control">
                <option value="">--</option>
                {%for c in creator_list%}
                <option value="{{c}}" {%if c == request.GET.creator %} selected {%endif%}>{{c}}</option>
                {%endfor%}
            </select>
            <script type="text/javascript">
			$('select[name="creator"]').change(function (){
				this.form.submit();
			})
			</script>
			
            <span class="input-group-addon">IP地址</span>
            <input type="text" class="form-control" name="ip" value="{{request.GET.ip}}" />


            <span class="input-group-addon"></span>
            <input style="color: #fff;background-color: #3071a9;border-color: #285e8e;" 
            	type="submit" class="form-control"class="btn btn-primary" value="筛选"/>
    
        </div>
     </form> -->

<table class="table">
	<tr>
		<th>编号</th>
		<th>用户</th>
		<th>集群</th>
		<th>创建时间</th>
		<th>容量</th>
		<th>云主机编号</th>
		<th>挂载时间</th>
		<th>状态</th>
		<th width="180px">备注</th>
		<th width="120px"></th>
	</tr>
{%for volume in p.object_list%}
<tr id="tr_{{volume.id}}" onmouseover="show_remarks_pen('{{volume.id}}')" onmouseout="hide_remarks_pen('{{volume.id}}')">
	<td title="{{volume.id}}">{{volume.id|slice:":8"}}</td>
	<td>{{volume.user_name}}</td>
	<td>{{volume.group_name}}</td>
	<td>{{volume.create_time|date:'Y-m-d H:i:s'}}</td>
	<td>{{volume.size|sizeformat:'MB'}}</td>
	<td>{{volume.vm|slice:":8"|default_if_none:''}}</td>
	<td>{{volume.attach_time|date:'Y-m-d H:i:s'}}</td>
	<td>
	{%if volume.enable%}<img alt="True" src="/static/admin/img/icon-yes.gif">{%else%}<img alt="False" src="/static/admin/img/icon-no.gif">{%endif%}	</td>
	<td>
		<div id="remarks_{{volume.id}}_show">
			<span id="remarks_{{volume.id}}_span" style="padding-right:18px" >{{volume.remarks|default_if_none:''}}</span>
			<a href="javascript:void(0)" id="remarks_{{volume.id}}_pen" onclick="edit_remarks('{{volume.id}}')" title="修改备注" style="display:none"> <span class="glyphicon glyphicon-pencil" aria-hidden="true" ></span></a>
		</div>
		<div id="remarks_{{volume.id}}_edit" style="display:none">
			<textarea id="remarks_{{volume.id}}">{{volume.remarks|default_if_none:''}}</textarea>
			<a href="javascript:void(0)" title="保存备注"  onclick="save_remarks('{{volume.id}}')"> <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></a>
		</div>
	</td>
	<td>
		{%if volume.enable%}
			{%if volume.vm%}
			<button type="button" class="btn btn-xs btn-warning" onclick="if(confirm('确定卸载？'))volume_umount('{{volume.id}}')">卸载</button>
			<script type="text/javascript">
				function volume_umount(volume_id) {
					$.ajax({
						url: '/vmadmin/volume/umount/',
						type: 'post',
						data: {
							'volume_id': volume_id,
						},
						success:function(data){
							if (data.res){
								window.location.reload();
							} else {
								alert(data.error);
							}
						}
						
					}, 'json');
				}
				</script>
			{%else%}
			<button type="button" class="btn btn-xs btn-primary" onclick="window.location.href='/vmadmin/volume/mount/?volume_id={{volume.id}}'">挂载</button>
			{%endif%}
		{%endif%}
			
		{%if not volume.vm%}
			<button type="button" class="btn btn-xs btn-danger" onclick="if(confirm('确定删除？'))volume_delete('{{volume.id}}')">删除</button>
		<script type="text/javascript">
			function volume_delete(volume_id) {
				$.ajax({
					url: '/vmadmin/volume/delete/',
					type: 'post',
					data: {
						'volume_id': volume_id,
					},
					success:function(data){
						if (data.res){
							window.location.reload();
						} else {
							alert(data.error);
						}
					},
					complete:function() {
						$("#remarks_" + volume_id + "_show").show();
						$("#remarks_" + volume_id + "_edit").hide();
					}
					
				}, 'json');
			}
			</script>
		{%endif%}

	</td>
</tr>
{%endfor%}

</table>

  </div>
  {%if p.page_range%}
  <div class="panel-footer">
  <div align="right">
	<ul class="pagination" style="margin:0;">
	      {% if p.has_previous %}
	      <li><a href="{{p.link}}{{ p.previous_page_number }}">&laquo;</a></li>
	      {%else%}
	      <li class="disabled"><span>&laquo;</span></li>
	      {% endif %}
	      {% if p.num_cur_page !=  p.start_page%}
	      <li><a href="{{p.link}}{{p.start_page}}">first</a></li>
	      {%else%}
	      <li class="disabled"><span>first</span></li>
	      {%endif%}
	
	       {%for num in p.page_range%}
	       {%if num == p.num_cur_page%}
	      <li class="active"><span>{{num}}</span></li>
	       {%else%}
	      <li><a href="{{p.link}}{{num}}">{{num}}</a></li>
	    {%endif%}
	      {%endfor%}
	
	       {% if p.num_cur_page != p.end_page%}
	      <li><a href="{{p.link}}{{p.end_page}}">last</a></li>
	       {%else%}
	      <li class="disabled"><span>last</span></li>
	      {%endif%}
	      {% if p.has_next %}
	      <li><a href="{{p.link}}{{ p.next_page_number }}">&raquo;</a></li>  {%else%}
	      <li class="disabled"><span>&raquo;</span></li>
	       {% endif %}
	    </ul></div>
    </div>
    {%endif%}
</div>
<script type="text/javascript">
	function edit_remarks(volume_id) {
		$("#remarks_" + volume_id + "_show").hide();
		$("#remarks_" + volume_id + "_edit").show();
	}
	function save_remarks(volume_id) {
		var remarks = $("#remarks_" + volume_id).val();
		$.ajax({
			url: '/vmadmin/volume/edit_remarks/',
			type: 'post',
			data: {
				'volume_id': volume_id,
				'remarks': remarks,
			},
			success:function(data){
				if (data.res){
					$("#remarks_"+volume_id+"_span").text(remarks);
				} else {
					alert(data.error);
				}
			},
			complete:function() {
				$("#remarks_" + volume_id + "_show").show();
				$("#remarks_" + volume_id + "_edit").hide();
			}
			
		}, 'json');
	}
	function show_remarks_pen(volume_id){
		$("#remarks_" + volume_id + "_pen").show();
		$("#remarks_" + volume_id + "_span").css('padding-right','0px');
	}
	function hide_remarks_pen(volume_id){
		$("#remarks_" + volume_id + "_pen").hide();
		$("#remarks_" + volume_id + "_span").css('padding-right','18px');
	}
	

</script>
{%endblock%}
